@media (max-width: 650px) {
  main {
    margin-top: 16px;
  }
  h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  label {
    font-size: 17px;
  }
  ul {
    margin: 0;
  }
  /* header */
  header {
    padding-right: 24px;
  }
  details {
    -webkit-appearance: none;
  }
  /* result section */
  .result-section {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 108px;
  }
  .result-input-wrapper,
  .result-input-box,
  .btn-wrapper {
    width: 100%;
    height: 50px;
  }
  .result-input-wrapper.e::before {
    bottom: 8px;
  }
  .btn-wrapper button {
    margin: 0;
  }
  .btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .copy-btn,
  .submit-btn {
    width: 49%;
    margin: 16px 0 0 0;
  }
  .popup-tooltip {
    display: none;
  }
  .opt-left-container {
    width: 51%;
  }
  .opt-right-container {
    width: 49%;
  }
  /* checkbox */

  /*  */
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 60px;
  }
  li + li {
    margin-top: 24px !important;
  }
  .opt-exclusions {
    margin-top: 20px;
  }
  .label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  label {
    font-size: 1.2rem !important;
  }
  .opt-example {
    margin: 0;
  }
  .opt-length input {
    width: 100%;
  }
  .opt-custom textarea {
    min-width: 0;
    width: 100%;
    height: 110px;
  }
  .opt-custom textarea.active {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: none;
    left: 0;
    top: 0;
    border-radius: 0;
    padding: 1rem;
    padding-top: 5rem;
    letter-spacing: 0px;
    border: none;
    transition: 0.3s;
    z-index: 101;
  }
  .opt-custom textarea.active + .textarea-head {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px 0 14px;
    z-index: 102;
  }
  .opt-custom textarea.active + .textarea-head::before {
    content: "Custom Letters";
    font-size: 1.3rem;
    color: var(--secondary-text-color);
  }
  .textarea-btn-box {
    display: flex;
    padding: 0;
  }
  .textarea-head div[class$="-btn"] {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: var(--material-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .textarea-head div[class$="-btn"] + div[class$="-btn"] {
    margin-left: 10px;
  }
  .textarea-clear-btn {
    background: var(--material-red);
  }
  .textarea-cancel-btn {
    background: var(--material-gray);
  }
  .textarea-save-btn {
    background: var(--primary-color);
  }
  .textarea-head div[class$="-btn"] svg {
    width: 22px;
    margin-right: 2px;
  }
  .textarea-head div[class$="-btn"] svg path {
    fill: var(--material-white);
  }
}
